<h1 style="text-align:center">로또추첨!</h1>
<div style="text-align:center">
<%= image_tag @image_file_name1 %> 
<%= image_tag @image_file_name2 %> 
<%= image_tag @image_file_name3 %><br/>
<%= image_tag @image_file_name4 %> 
<%= image_tag @image_file_name5 %> 
<%= image_tag @image_file_name6 %> 
</div>
